*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(191, 205, 218);
}

nav{
    display: flex;
    top: 0;
    padding: 20px 30px;
    justify-content: start;
    align-items: center;
    z-index: 1000;
    background-color: #000;
}

.links-active{
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 5px;
}

.links{
    color: #a7a3a3;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 5px;
}

.site_name{
    margin-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: azure;
    font-weight: bolder;
}

/*tables*/

ul{
    list-style: none;
}

.ul_x_y{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-collapse: collapse;
    margin-top: 2rem;
}

.bold{
    font-weight: bold;
}

.table_x_y{
    background-color:rgb(130, 149, 167);
    margin: 30px;
    padding: 1rem;
    border-radius: 3px;
}

.customer, .content_1, .cu_names{
    list-style:none;
    line-height: 2rem;
}

.customer{
    font-weight: bold;
}

.cu_names{
    color: black;
}

.link-tab{
    margin-left: 30px;
    border-radius: 5px;
    background-color: rgb(43, 100, 81);
    padding: 1rem;
    width: 24rem;
    display: block;
    text-align: center;
}

