{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
  <link rel="stylesheet" href="{% static '/css/about_page.css' %}">
</head>
<body>
  <header>
    <div class="logo">Pacific Union</div>
  </header>

  <div class="container">
    <h2>About Us</h2>

    <h2>Welcome to Pacific Union</h2>

    <div class="about-content">
      <img src="{% static '/images/IMG_E0317.JPG' %}" alt="About Us" height="100vh" width="100vw">
      <p>At Paacific Union, we're more than just a financial institution – we're your trusted partner in achieving your financial goals. With a rich history spanning [number of years] years, we have been serving our community with unwavering dedication and commitment.</p>
      <p>
        <p>
            <h3>Our Mission</h3>
            <br>
            Our mission at Pacific Union is simple yet profound: to empower individuals and businesses to realize their full financial potential. We strive to achieve this by offering innovative banking solutions, personalized services, and unwavering support to our customers.
            
            **Core Values**
            
            Integrity: We believe in conducting our business with the highest ethical standards and transparency, ensuring the trust and confidence of our customers and stakeholders.
            
            Excellence: We are committed to excellence in everything we do, constantly striving to exceed the expectations of our customers and set new benchmarks in the banking industry.
            
            Customer Centricity: Our customers are at the heart of everything we do. We are dedicated to understanding their unique needs and providing tailored solutions to help them succeed financially.
            
            Community Engagement: We are deeply rooted in the communities we serve and are committed to making a positive impact through philanthropic initiatives, volunteerism, and partnerships with local organizations.
        </p>
        
        <p>
            <h3>Our Services</h3>
            <br>
            
            At Pacific Union, we offer a comprehensive range of banking services designed to meet the diverse needs of our customers:
            
            - Personal Banking: From checking and savings accounts to loans and mortgages, we offer a wide array of personal banking solutions to help you manage your finances with ease.
            
            - Business Banking: Whether you're a small business owner or a large corporation, our business banking services are designed to support your growth and success.
            
            - Investment Services: Our team of experienced investment advisors can help you build and manage a diversified investment portfolio tailored to your financial goals and risk tolerance.
            
            - Online and Mobile Banking: With our secure online and mobile banking platform, you can conveniently manage your accounts, pay bills, transfer funds, and much more anytime, anywhere.
        </p>
        
        <p>
            <h3>Why Choose Pacific Union</h3>
            <br>
            
            - Trustworthy: With a long-standing reputation for reliability and integrity, you can trust us to safeguard your assets and help you navigate the complexities of the financial world.
            
            - Personalized Service: Unlike large, impersonal banks, we take the time to understand your unique needs and provide personalized solutions that are tailored to your individual circumstances.
            
            - Innovation: We are committed to staying at the forefront of technological advancements in banking to provide you with innovative solutions that make banking simpler, faster, and more convenient.
            
            - Community Focus: As a community bank, we are deeply invested in the success and well-being of our local communities. When you bank with us, you're not just a customer – you're part of our family.
        </p>

        <p>
            
            <h3>Get in Touch</h3>
            
            Ready to take control of your financial future? Visit one of our conveniently located branches or contact us today to learn more about how we can help you achieve your financial goals. Thank you for choosing [Bank Name] – where your success is our priority.
        </p>
        </p>
    </div>
  </div>

  <footer>
    <div class="container">
        
      <p>&copy; 2023 Investment Page. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
