{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static '/css/main_style.css' %}">
</head>
<body>
<nav>
        <input type="checkbox" name="" id="check">
        <label for="check" onclick="myFunction()" class="checkbtn">
            <img class="img" src="{% static 'images/icons8-menu.svg' %}" alt="">
        </label>
       <label class="logo">Pacific Union</label>
       <ul id="dropdown_menu">
        <li><a class="active" href="{% url 'home' %}">Home</a></li>
        <li><a class="linked" href="{% url 'cards' %}">Cards</a></li>
        <li><a class="linked" href="{% url 'account' %}">Profile</a></li>
        <li><a class="linked" href="{% url 'transactions' %}">Transactions</a></li>
        <li><a class="linked" href="{% url 'service' %}">Convinient Services</a></li>
       </ul>
</nav>
       <aside class="center">
           <div class="profile"></div>
        <div class="center_rare">
            <span class="user">NAME</span>
            <span class="tb">Total balance</span>
            {% for i in payment %}
            <span class="amount">{{i.currency}}{{i.amount}}</span>
            {% endfor %}
        </div>
       </aside>

        <section class="middle">
            <a href="" class="today">Today</a>
            <a href="" class="today">Week</a>
            <a href="" class="today">Month</a>
            <a href="" class="today">All</a>
        </section>

     <center class="start">
     <div class="rate_box">
        <span class="chart">60 %</span>
        <span class="rate">Balance rate</span>
     </div>
    </center>

    <div class="switch">
        <a class="switch_in" href="">
            <span class="Inc">Income</span>
            $11, 300
        </a>
        <a class="switch_in_2" href="">
            <span class="Inc">Expense</span>
            $8, 600
        </a>
    </div>
    <br><br><br>
    <footer>

        <a class="nav_link" href="{% url 'home' %}">
            <img class="a" src="{% static 'images/bxs-home.svg' %}" alt=""> 
            <span class="nav-text">Home</span>
        </a>
      
        <a class="nav_link" href="{% url 'cards' %}">
            <img class="a" src="{% static 'images/bx-bar-chart.svg' %}" alt="">
        <span class="nav-text">Cards</span>
        </a>
      
        <a class="nav_link" href="{% url 'transactions' %}">
            <img class="a" src="{% static 'images/bx-dollar-circle.svg' %}" alt="">
            <span class="nav-text">Transactions</span>
        </a>
      
        <a class="nav_link" href="{% url 'account' %}">
            <img class="a" src="{% static 'images/bxs-user.svg' %}" alt="">
         <span class="nav-text">Profile</span>
        </a>
      
      </footer>
    <script>
        function myFunction() {
         const btn = 
         document.getElementById("dropdown_menu");
         if (btn.style.display === 'none')
         {
             btn.style.display = "block";
         } else {
             btn.style.display = 'none';
         }
        }
       </script>
</body>
</html>