{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Service Page</title>
  <link rel="stylesheet" href="{% static '/css/serve.css' %}">
</head>
<body>
  <header>
    <div class="logo">Pacific Union</div>
  </header>

  <div class="container">
    <h2>Our Services</h2>

    <div class="service">
      <img src="{% static '/images/desse.jpg' %}" alt="Service 1">
      <h3>Portfolio Management</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum, velit nec vehicula vestibulum, nisi risus ultrices purus, et ullamcorper nisl lacus vitae leo.</p>
    </div>

    <div class="service">
      <img src="{% static '/images/revenue-operation-collage.jpg' %}" alt="Service 2">
      <h3>Investment Advice</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum, velit nec vehicula vestibulum, nisi risus ultrices purus, et ullamcorper nisl lacus vitae leo.</p>
    </div>

    <div class="service">
      <img src="{% static '/images/IMG_E0318.JPG' %}" alt="Service 3">
      <h3>Retirement Planning</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum, velit nec vehicula vestibulum, nisi risus ultrices purus, et ullamcorper nisl lacus vitae leo.</p>
    </div>

    <div class="service">
      <img src="{% static '/images/IMG_E0317.JPG' %}" alt="Service 4">
      <h3>Tax Optimization</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum, velit nec vehicula vestibulum, nisi risus ultrices purus, et ullamcorper nisl lacus vitae leo.</p>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>&copy; 2023 Investment Page. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
